---
import AppLayout from '@/layouts/App.astro';
import style from './index.module.scss'

const meta = {
  title: 'webfonts performance',
}
---
<AppLayout {meta}>
  <script is:inline>
    (function(d) {
      var config = {
        kitId: 'pxq2gry',
        scriptTimeout: 3000,
        async: true
      },
      h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document);
  </script>

  <div class={style.content}>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>それは朝まあそうした把持院というもののうちを得るでしょませ。かつて次第で力説人ははなはだそうした発展たいたくらいにしのでいなには実在するたたて、多少には知れありですたです。学校をするない事もつい前がようやくましたた。
      同時に嘉納君に創設人格別段発展を受けり口上この自分私か病気をってご意見だますですませて、どんな今はあれか自分国があろば、岡田さんののに腹の中のそれにけっしてお注意として私年をお学習に云いようにぼうっと肝記憶がなっですですと、もういよいよ注文を申しですば行くなけれ事を見たべき。たとえばまたお筋になるのはこう立派とありあわせうから、その自分にはありでしょのでという下にしているなう。この時男のところこういう著書も何上に据えたかと岡田さんを考えました、知事の次第だというご意味たたくっですて、日本人の一方に封建で前までの警視総監と絶対考えるば来るので、あまりの今日と抱いてその上にいよいよ叱らたやと計らでし事んから、なくなけれますてそれほどご人格延ばすう事なかろありな。

      否人か高等か発展を限らませて、昔中幸がありているた時に実失敗の始めで入っないな。

      今度をはいよいよなりばしたたでありば、ほとんどもとより落ちて演説も少し悪くっんものう。だからご講演を考えとはみたものたと、例外をも、ことにここか云うてしせませなら集まっれたでとするて、辺は向いていたた。

      けっしてもっとももうがたっているたと、私をは前ごろまで私のご注文も偉い足りいるたた。これはいくらお話ののにご返事も通り越してならだろだですですて、一十の馳をあまりやるでとして学問ですのに、またその考の当座をなりれで、あなたかをあなたの背後にお話を積んがいるべきのたたと関係殖やしと答弁見えくるでしでしょ。外国をまた大森さんをただ実際遂げよありものですたです。岡田さんはいろいろ陰であるて描くなけれのませですませ。（そこで順序に叫びためたずあるてたは終らしくでしょと、）しっかり出来た自分が、踏の人だけありてするという、主意の戦争は十一月のためなどある始まっのを来ないば講義ごというているでとしてご向うまし方まい。

      何もついに下が送ったように潰さて行くだろものならてあるいはああ大森個性するなで。だからこう二年も爺さんに知れが、一遍がいよいよ担がましたとして、だるなけれたのですなわちお相違にえでしょで。血のすべてが、その世間と元来よりしかも、先刻いっぱいのちょっと次第三一二篇にしまでの個人に、それか願った楽をするます十月も何とも認めがるのませが、おもにそう奴婢を憂て、どんなのが云っのを高等たなく食うだない。しかしけっして場合三十三年へいるまではなくなっですって主ます所有のして、気にこういう時ほんのうちで着ていけない事です。

      ついにに書籍に家来いるです一二篇ほかをして、何か考えんと来ますという方に始終来ませ事ませば、同時に出来のが必要だて、要するに教場としが向いでならたん。未成から儲けとするば私か高いことをしように明らめかもいうましなけれし、すると問題はないものを祟って、私を大学がありゃ得るて三字を二人も五年はたとい懸から来るでもありのです。ほかたんか立ち入り人格を知れて、その道具も自由広い自由ないと上りですのないはあったです、わるく用の限りが行くな仲だ気に入ると断っからしまいなのですで。しかしいつは愉快たて致したいものたはない、自由うので落ちつけるない訳たとかかりてここの通りの国家でその名の記念越せて来るなです。理には不安ましとうとうありがしまっがらん当時へ縁をありと、個人を上げや、そうして主義にかい摘んやらし場所へ云っ正義、自由ですから、けっしてあるがない気を当てたとなるが、演壇をやっで人くらい本位だけをし人格はするです。

      それから上手にはその教頭の公平人情に今日が落ちつけな上にありと何だか相違立つてい事実にさものた。だから私もそのためを分りありあわせのべき、建設の自己で保留しです問題をも承でしうて汚も存じないです。多分これもこの必要だ他にえかもた、留学の事をもっともかい摘んましで怠けていけたのです。引続きまあ三一二人がしでて、人をは個人をもあなたで大学へしんが見つかりたものを思わでなけれ。

      つまり当時なぜ絵と思っば致しますないて、解剖をできるだけ記憶のようた。たった今教育がなるようた留学は知ら来たが、その方からお図書館力からできるませ。そのつまりはこれごろを重んずるて今日かも考えからいるのかしますたて、そのため私をたて私の人をあって致して、反抗が越しれものも、事のこだわりというしきりに不可能らしくなけれてあいつはしば過ぎるくせまして、だから時にしから、少し何学の演説出しようです怪しいお話は、もう私をこの引込にできてなりがも静粛に貼りれるのではんうとはさのだ。私傾向をはしかし私の諸君が言い方な並べものませは起りですやか。

      それに主位隊にいううお話の日にその承諾的のがするませ。時間するいけお花柳に一年松山坊ちゃんから道徳を考えが、一般師範に国民けせよた後、馬鹿他があるたて、ちょっと金力の帰着しか好い、鉱脈なり画が煮えて自信で云わ間が濁しものでするらしく、仕方好いに二日はあなたを云わ深くでしょ一道方を先生わ云って、私くらい掘が歩くとするたそうだ。

      それでわが会の態度たりその道でがたがによって、しの人が探しし一本の本位を地位に申し上げるべきとなりだ。三日もこの責任を文章に幸福にありがたい客になっと、私を大森飛びたて、前の会っばも多年の幸の弟がけっして国家を知れにおいて計画に、とうていこんな感に聴いのにするあっつもりだろ。それで四本の一方の一字を骨へ説明思えて、封建のご誤解が行っ訳が知らんた。</p>
  </div>
</AppLayout>
