---
import AppLayout from '@/layouts/core/App.astro';
import style from './index.module.scss'
import { getPages } from '@/utils/route';

const meta = {
  title: 'examples',
}

const pages = getPages(/^\/[^\/]+\/?$/);
---

<AppLayout {meta}>
  <ul>
    {pages.map((it) => (
      <li>
        <a href={it.href}>{it.text}</a>
      </li>
    ))}
  </ul>
</AppLayout>
