---
import AppLayout from '@/layouts/App.astro';
import style from './index.module.scss'

const meta = {
  title: 'Welcome to Astro.',
}
---

<AppLayout {meta}>
  <a href="/webfonts-performance/inline-script/">webfonts-performance (inline-script)</a>
  <a href="/webfonts-performance/optimize/">webfonts-performance (optimize)</a>
</AppLayout>
