---
import AppLayout from '@/layouts/App.astro';
import style from './index.module.scss'

const meta = {
  title: 'Welcome to Astro.',
}

const pages = [
  { href: '/webfonts-performance/inline-script/', text: 'webfonts-performance (inline-script)' },
  { href: '/webfonts-performance/optimize/', text: 'webfonts-performance (optimize)' },
  { href: '/webgl-school-2024/', text: 'WebGL School 2024' },
]
---

<AppLayout {meta}>
  <ul>
    {pages.map((it) => (
      <li>
        <a href={it.href}>{it.text}</a>
      </li>
    ))}
  </ul>
</AppLayout>
