---
import AppLayout from '@/layouts/App.astro';
import style from './index.module.scss'

const meta = {
  title: 'Welcome to Astro.',
}

function getPageInfo(path: string) {
  const href = path
    .replace(/^\./, '')
    .replace(/index\.astro$/, '')
    .replace(/\.astro$/, '/');

  // パスから表示用のテキストを生成
  const text = href
    .split('/')
    .filter(Boolean)
    .map(part => part.replace(/-/g, ' '))
    .join(' / ');

  return { href, text };
}

const pages = Object.keys(
  import.meta.glob("./**/*.astro", { eager: true })
)
  .filter(path => path !== './index.astro')
  .map(path => getPageInfo(path));
---

<AppLayout {meta}>
  <ul>
    {pages.map((it) => (
      <li>
        <a href={it.href}>{it.text}</a>
      </li>
    ))}
  </ul>
</AppLayout>
