---
import WebUILayout from '@/layouts/themes/WebUI/WebUI.astro';
import { getPages } from '@/utils/route';

const meta = {
  title: 'webfonts performance',
}

const currentDir = '/webfonts-performance';
const pages = getPages(new RegExp(`^${currentDir}/[^/]+/?$`));
---

<WebUILayout {meta}>
  <ul>
    {pages.map((it) => (
      <li>
        <a href={it.href}>{it.text}</a>
      </li>
    ))}
  </ul>
</WebUILayout>
