---
import DocumentLayout, { type Props as DocumentProps } from '../layouts/Document.astro';
export interface Props extends DocumentProps {}

const props = Astro.props;
---

<DocumentLayout {...props}>
  <slot name="head" slot="head" />
  <main>
    <slot />
  </main>
</DocumentLayout>
