---
import DocumentLayout, { Props as DocumentProps } from '../layouts/Document.astro';
export interface Props extends DocumentProps {}

const props = Astro.props;
---

<DocumentLayout {...props}>
  <main>
    <slot />
  </main>
</DocumentLayout>
